{% extends 'layout.html' %}

{% block title %} All Claims {% endblock %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='showcustomer.css')}}">{% endblock %}

{% block content %} 
 <div class="container">
    <h1>All Claims</h1>
    <div class="row">
        {%for i in range(claims|length)%}
        <div class="col-4 mb-5">
            <a class="button__text button login__submit" href={{url_for('claimDetails',claimId=claims[i][0])}} onmouseover="mOver(this)" >
            Claim : {{i}}
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function mOver(object) {
        object.style.color = "#776bcc"
    }
</script>
{% endblock %}


{% block footer %}  {% endblock %}