{% extends 'layout.html' %}

{% block title %} Hospitals {% endblock %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='availablehospitals.css')}}">{% endblock %}

{% block content %}
<div class="container">
    <h1>Hospitals</h1>
    <div class="row">
        {% for i in range(hospitalNames|length) %}
        <div class="col-4 mb-5">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="name">Name Hospital: <span>{{hospitalNames[i]}}</span></div>
                    <div class="address">Address Hospital: <span>{{hospitalAddresses[i]}}</span></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block footer %} {% endblock %}