{% extends 'layout.html' %} 
{% block title %} Customer Log In {% endblock %} 
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='customer.css')}}"> {% endblock %} {% block content %}

<div class="container">
    <h1>Welcome to our company</h1>
    <div class="screen">
        <h6>Welcome Customer</h6>
        <div class="screen__content">
            <form class="login" action={{url_for('addCustomer_db')}} method='POST'>
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="SSN" name="ssncustomer" required>
                </div>
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Name" name="namecustomer" required>
                </div>

                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Adreess" name="adresscustomer" required>
                </div>

                <div class="login__field">
                    <input type="number" class="login__input" placeholder="Age" name="agecustomer" min="0" max="200" required>
                </div>

                <div class="login__field">
                    <div class="word" >Choose Gender :</div> <br>
                    <div class="boxchoose">
                        <div class="male">                    
                            <input type="radio" class="radio" name="gendercustomer" id="male" value="Male">
                            <label for="male">Male</label>
                        </div>
                        <div class="female">                    
                            <input type="radio" class="radio" name="gendercustomer" id="female" value="Female">
                            <label for="female">Female</label>
                        </div>
                    </div>
                </div>


                    <input type="submit" class="button__text button login__submit one">
                    <a href={{url_for('customerSignIn')}} class="button__text button login__submit two" onmouseover="mOver(this)">Sign In</a>
            </form>
        </div>

        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
    {% if request.args.get('response'): %}
    <div class="response alert alert-secondary" role="alert">{{request.args.get('response')}}</div>
    {% endif %}
</div>
<script>
    function mOver(object) {
        object.style.color = "#776bcc"
    }
</script>

{% endblock %} {% block footer %} {% endblock %}