:root {
    --first-color: #c7c5f4;
    --second-color: #776bcc;
    --third-color: #5d54a4;
    --fourth-color: #7c78b8;
    --fifth-color: #5c5696;
    --sixth-color: #6c63ac;
    --seventh-color: #6a679e;
    --eight-color: #7e7bb9;
    --nine-color: #d1d1d4;
    --ten-color: #d4d3e8;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
  }
  
  body {
    overflow: hidden;
    background: linear-gradient(90deg, var(--first-color), var(--second-color));
  }
  
  h1{
      position: absolute;
      left: 50%;
      top: 5%;
      transform: translate(-50%, -50%);
      color: white;
  }

  .row{
      margin-top: 120px;
  }
  .name,
  .address{
    font-weight: bold;
    color: var(--third-color);
  }
  span{
    font-weight: 100;
    color: black;
  }
  .name{
    margin-bottom: 5px;
  }