:root {
  --first-color: #c7c5f4;
  --second-color: #776bcc;
  --third-color: #5d54a4;
  --fourth-color: #7c78b8;
  --fifth-color: #5c5696;
  --sixth-color: #6c63ac;
  --seventh-color: #6a679e;
  --eight-color: #7e7bb9;
  --nine-color: #d1d1d4;
  --ten-color: #d4d3e8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  overflow: hidden;
  background: linear-gradient(90deg, var(--first-color), var(--second-color));
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  color: white;
}

.screen {
  background: linear-gradient(90deg, var(--third-color), var(--fourth-color));
  position: relative;
  height: 600px;
  width: 400px;
  box-shadow: 0px 0px 40px var(--fifth-color);
}

h4{
  position: absolute;
  top: 16%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 25px;
  color: var(--third-color);
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: var(--sixth-color);
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, var(--third-color), var(--seventh-color));
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: var(--eight-color);
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 0px 0px 40px 0px;
  position: relative;
  margin-top: -40px;
  margin-bottom: 12px;
}
.choose {
  padding: 0px;
}
.login__input {
  border: none;
  border-bottom: 2px solid var(--nine-color);
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.5s;
}

::placeholder {
  color: black;
  opacity: 50%;
}
.word {
  font-weight: bold;
}
.boxchoose {
  margin-top: -20px;
  margin-left: 15px;
}
label {
  display: inline-block;
  margin-left: 0px;
  font-size: 16px;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin-right: 84px;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: var(--seventh-color);
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 5px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 3px solid var(--ten-color);
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--third-color);
  transition: 0.5s;
}
.one {
  margin-bottom: 10px;
}
.two {
  margin-top: 0px;
}

.login__submit a {
  text-decoration: none;
  color: var(--third-color);
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: var(--seventh-color);
  outline: none;
  transform: scale(1.1);
}
.form-select {
  margin-top: 10px;
  margin-bottom: 30px;
}
.user {
  font-size: 20px;
}
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  margin-left: 15px;
}
a{
  text-decoration: none;
}