{% extends 'layout.html' %} 

{% block title %} Add Dependants {% endblock %} 

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='adddependant.css')}}"> 
{% endblock %} 

{% block content %}
<div class="container">
    <h1>Welcome to our company</h1>
    <div class="screen">
        <h6>Welcome Customer</h6>
        <div class="screen__content">
            <form class="login" action={{url_for('addDependent_db')}} method='POST'>
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Dependant SSN" name="ssndependant">
                </div>
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Customer SSN" name="ssncustomer" value={{ssn}} readonly>
                </div>
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Dependant Name" name="namedependant">
                </div>

                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Adreess" name="addressdependant">
                </div>

                <div class="login__field">
                    <input type="number" class="login__input" placeholder="Age" name="agedependant">
                </div>
                

                <div class="login__field">
                    <div class="word">Choose Gender :</div> <br>
                    <div class="boxchoose">
                        <div class="male">                    
                            <input type="radio" class="radio" name="genderdependant" id="male" value="male">
                            <label for="male">Male</label>
                        </div>
                        <div class="female">                    
                            <input type="radio" class="radio" name="genderdependant" id="female" value="female">
                            <label for="female">Female</label>
                        </div>
                    </div>
                </div>



                <button class="button login__submit button__text" , type ="submit">add dependent</button>
            </form>
        </div>

        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
    {% if request.args.get('response'): %}
    <div class="response alert alert-secondary" role="alert">{{request.args.get('response')}}</div>
    {% endif %}
</div>

{% endblock %} {% block footer %} {% endblock %}