{% extends 'layout.html' %}

{% block title %} Customers {% endblock %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='assignplan.css')}}">{% endblock %}

{% block content %} 
<div class="container">
    <h1>Welcome {{customerName}}</h1>
    <form name='updatebeneficiary' action={{url_for('addBeneficiary_db',dependentssn=dependentSsn,ssn=request.args.get('ssn'))}} method='POST'>
    <div class="row">
        <h4>Customer Plan</h4>
        <div class="col-12">
            <div class="card" style="width: 80vw;">
                <div class="card-body">
                    <div>Beneficiary Name: <span>{{customerName}}</span> </div>
                    <div>Used Plan: <span>{{customerPlan}}</span> </div>
                        <ul class="box">
                            {% for plan in plans:%}
                            <li>
                                <input type="radio" class="radio" name="plantypecustomer" value={{plan}} checked>
                                <label>{{plan}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <h4>Dependents Plan</h4>
        {% for i in range(dependentPlans|length):%}
        <div class="col-12">
            <div class="card" style="width: 80vw;">
                <div class="card-body">
                    <div>Beneficiary Name: <span>{{dependentNames[i]}}</span> </div>
                    <div>Used Plan: <span>{{dependentPlans[i]}}</span></div>
                        <ul class="box">
                            {% for plan in plans:%}
                            <li>
                                <input type="radio" class="radio" name="plantypedependent{{i}}" value={{plan}} checked>
                                <label>{{plan}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <br>
        <div class="row rowedit">
            <div class="col-3 coledit">
                <button class='button login__submit button__text' type="submit">Save changes</button>
            </div>
        </div>
    </div>
    </div>
    {% if request.args.get('response'): %}
    <div class="response alert alert-secondary" role="alert">{{request.args.get('response')}}</div>
    {% endif %}
</div>

<script>
    function mOver(object) {
        object.style.color = "#776bcc"
    }
</script>
{% endblock %}


{% block footer %}  {% endblock %}