{% extends 'layout.html' %}

{% block title %} Check {% endblock %}


{% block head %} <link rel="stylesheet" href="{{url_for('static',filename='checkssn.css')}}">{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome Customer</h1>
    <div class="screen">
        <h6>Enter Your SSN</h6>
        <div class="screen__content">
            <form class="login" action={{url_for('customerSignIn_db')}} method="POST">
                 <div class="login__field">
                    <input type="text" class="login__input" placeholder="Type SSN" name="ssncustomer">
                </div>
                <button type = "submit" class="button button__text proceed">
                    Submit
                </button>
            </form>
        </div>

        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
    {% if request.args.get('response'): %}
    <div class="response alert alert-secondary" role="alert">{{request.args.get('response')}}</div>
    {% endif %}
</div>
{% endblock %}


{% block footer %}  {% endblock %}