{% extends 'layout.html' %}

{% block title %} Home {% endblock %}


{% block head %} <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">{% endblock %}


{% block content %}
<div class="container">
    <h1>Welcome to our company</h1>
    <div class="screen">
        <h4>Welcome</h4>
        <div class="screen__content">
            
                    <a href={{url_for('adminPage')}} class="button__text button login__submit" onmouseover="mOver(this)">Log In As Admin</a>

                    <a href={{url_for('customerPage')}} class="button__text button login__submit other"onmouseover="mOver(this)">Log In As Customer</a>
        </div>
        {{error}}
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>		
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

<script>
    function mOver(object) {
        object.style.color = "#776bcc"
    }
</script>
{% endblock %}


{% block footer %}  {% endblock %}
