{% extends 'layout.html' %}

{% block title %} Purchase Plan {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='purchaseplan.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to our company</h1>
    <div class="screen">
        <h4>Purchase Plan</h4>
        <div class="screen__content">
            <form class="login" action={{url_for('buyPlan_db',ssn=request.args.get('ssn'))}} method='POST'>
                <label for="plan">Choose Plan Type:</label>
                <select class="form-select" aria-label="Default select example" name="plan" id="plan" required>
                    <option value="" selected>None</option> 
                    <option value="Basic">Basic</option>
                    <option value="Premium">Premium</option>
                    <option value="Golden">Golden</option>
                </select>
                <input type="submit" value="Purchase Plan" name="plantype" class="button__text button login__submit" onmouseover="mOver(this)">
            </form>

        </div>

        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
    {% if request.args.get('response'): %}
    <div class="response alert alert-secondary" role="alert">{{request.args.get('response')}}</div>
    {% endif %}
</div>
<script>
    function mOver(object) {
        object.style.color = "#776bcc"
    }
</script>

{% endblock %} {% block footer %} {% endblock %}