{% extends 'layout.html' %}

{% block title %} Claims {% endblock %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='showclaim.css')}}">{% endblock %}

{% block content %}
<div class="container">
    <h1>Claim Details</h1>
    <div class="row">
        <div class="col-4 mb-5">
            <div class="card" style="width: 25rem;">
                <div id="card" class="card-body">
                    <div>Customer Ssn: <span>{{claimDetails[1]}}</span></div>
                    <div>Beneficiary: <span>{{beneficiaryName}}</span></div>
                    <div>Hospital Name: <span>{{claimDetails[4]}}</span></div>
                    <div>Hospital Address: <span>{{hospitalAddress}}</span></div>
                    <div>Amount Of Expense: <span>{{claimDetails[5]}}</span></div>
                    <div>Expense Details: <span>{{claimDetails[6]}}</span></div>
                    <div>Plan Covers The Given Hospital: <span>{{isCover}}</span></div>
                </div>
            </div>
            {%if not checkResolved:%}
            <div class="box">
                <a class="btn btn-primary btn-lg decline" href={{url_for('updateResolved',response='refused',claimId=claimDetails[0])}}>Decline</a>
                <a class="btn btn-primary btn-lg accept" href={{url_for('updateResolved',response='accepted',claimId=claimDetails[0])}}>Accept</a>
            </div>
            {%endif%}
        </div>
    </div>
</div>

{% endblock %}


{% block footer %} {% endblock %}