{% extends 'layout.html' %}

{% block title %} Customers {% endblock %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='showcustomer.css')}}">{% endblock %}

{% block content %} 
 <div class="container">
    <h1>List Of Customers</h1>
    <div class="row">
        {%for i in range(ssn|length):%}
        <div class="col-4 mb-5">
            <a class="button__text button login__submit" href={{url_for('claimOptions',ssn=ssn[i])}} onmouseover="mOver(this)" >
            {{ssn[i]}}<br>
            {{names[i]}}
            </a>
        </div>
        {%endfor%}
    </div>
</div>

<script>
    function mOver(object) {
        object.style.color = "#776bcc"
    }
</script>
{% endblock %}


{% block footer %}  {% endblock %}